*{
  text-decoration: none;
  margin: 0;
}
body{
  background: rgb(0, 81, 128);
}
#frame{
  max-width: 500px;
  width: 95%;
  background: url('Carpet_Won.jpg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px 20px;
}
#frame h3{
  color: rgb(219, 19, 19);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
section{
  border: 5px outset red;
  padding: 0;
  margin: 5px 0;
  background: white;
}
#sub,#sub2{
  margin: 0;
  font-size: 24px;
  width: 100%;
  font-weight: bold;
  border: none;
  outline: none;
  height: 20px;
}
#sub2{
  margin: 0;
  text-align: right;
  color: black;
}
#buttons{
  display: grid;
  justify-content: center;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px;
}
.box:nth-child(1){
  grid-column: span 2;
}
.box:nth-child(11){
  grid-row: span 2;
}
.box input,.box2 input{
  background: none;
  color: white;
  padding: 5px 13px;
  margin: 0;
  width: 100%;
  border: 0;
  cursor: pointer;
  height: 100%;
}
.box{
  font-size: 20px;
  font-weight: 900;
  background: black;
  color: white;
  margin: 8px;
  cursor: pointer;
}
.box:active{
  background: green;
}
.box2{
  font-size: 20px;
  font-weight: 900;
  display: inline-block!important;
  background: grey;
  padding: 30px 18px;
  margin: 10px;
  cursor: pointer;
}
